*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: 1s;
}
:root{
    --primary-color : linear-gradient(45deg , #BCC5C7  , #c9d3d5);
    --text-color : #242F52;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg ,#E8D8B6 , #d9caac);
}

.container{
    height: 500px;
    width: 900px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
}

.left-div{
    flex-basis: 50%;
    background: var(--primary-color);
    position: relative;
}

.left-image{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-image img{
    height: 300px;
}

.left-text{
    position: absolute;
    bottom: 40px;
    color: white;
    font-size: 15px;
    padding: 0px 20px;
}

/* right div start */

.right-div{
    flex-basis: 50%;
    background: white;
    position: relative;
    overflow: hidden;
}

.right-div h4{
    display: inline-block;
    background: var(--primary-color);
    color: white;
    padding: 10px 30px 10px 60px;
    position: absolute;
    top: 10px;
    left: -30px;
    border-radius: 30px;
    letter-spacing: 1.5px;
}

.right-form{
    margin-top: 100px;
}

.right-form ul li{
    list-style: none;
    padding: 15px 0px;
    letter-spacing: 1.5px;
    color: var(--text-color);
    position: relative;
}

.right-form input{
    width: 250px;
    border: none;
    border-bottom: 1.5px solid var(--text-color);
    padding: 7px 0px;
    outline: none;
    letter-spacing: 1.5px;
    font-weight: bold;
    color: var(--text-color);
    padding-left: 25px;
}

.right-form input[type=submit]{
    width: 110px;
    border: none;
    border-radius: 20px;
    background: var(--primary-color);
    color: white;
    padding-left: 0px;
    transition: 0.1s;
}

.right-form input[type=submit]:hover{
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    transform: scale(1.02);
}

.right-form i{
    position: absolute;
    top: 38%;
    font-size: 12px;
}

::placeholder{
    color: var(--text-color);
}

.footer ul li{
    list-style: none;
}

.footer ul li a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1.5px;
    padding: 5px 0px;
    transition: 0.1s;
}

.footer ul li:last-child{
    padding-top: 65px;
}
.footer ul li:last-child a{
    border-bottom: 2px solid var(--text-color);
}
.footer ul li a:hover{
    font-size: 10.5px;
}

.vr-line{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 7px;
    background: rgba(70,55,55,0.2);
}

@media screen and (max-width : 960px){
    .container{
        width: 700px;
    }
    .left-image img{
        height: 275px;
    }
}

@media screen and (max-width : 720px){
    .container{
        width : 570px
    }

    .left-image img{
        height: 250px;
    }
}

@media screen and (max-width : 600px){
    .container{
        width: 300px;
    }
    .left-div{
        display: none;
    }
    .right-div{
        flex-basis: 100%;
    }
}

@media screen and (max-width : 360px){
    .container{
        height: 100vh;
        width: 100vw;
        border-radius: 0px;
    }
}



/* createNew form */

.right-form.createNew-form{
    margin-top:70px;
}

.right-form.createNew-form input{
    padding-left:0px;
}

.footer.createNew-footer li{
    padding-top: 0px !important;
}

/* forgot password */

.forgotPass-form input{
    padding-left: 0px;
}
.modal-open{overflow:hidden}.modal{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1050;display:none;overflow:hidden;outline:0}.modal-open .modal{overflow-x:hidden;overflow-y:auto}.modal-dialog{position:relative;width:auto;margin:.5rem;pointer-events:none}.modal.fade .modal-dialog{transition:-webkit-transform .3s ease-out;transition:transform .3s ease-out;transition:transform .3s ease-out,-webkit-transform .3s ease-out;-webkit-transform:translate(0,-25%);transform:translate(0,-25%)}@media screen and (prefers-reduced-motion:reduce){.modal.fade .modal-dialog{transition:none}}.modal.show .modal-dialog{-webkit-transform:translate(0,0);transform:translate(0,0)}.modal-dialog-centered{display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;min-height:calc(100% - (.5rem * 2))}.modal-content{position:relative;display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;width:100%;pointer-events:auto;background-color:#fff;background-clip:padding-box;border:1px solid rgba(0,0,0,.2);border-radius:.3rem;outline:0}.modal-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;background-color:#000}.modal-backdrop.fade{opacity:0}.modal-backdrop.show{opacity:.5}.modal-header{display:-ms-flexbox;display:flex;-ms-flex-align:start;align-items:flex-start;-ms-flex-pack:justify;justify-content:space-between;padding:1rem;border-bottom:1px solid #e9ecef;border-top-left-radius:.3rem;border-top-right-radius:.3rem}.modal-header .close{padding:1rem;margin:-1rem -1rem -1rem auto}.modal-title{margin-bottom:0;line-height:1.5}.modal-body{position:relative;-ms-flex:1 1 auto;flex:1 1 auto;padding:1rem}.modal-footer{display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;-ms-flex-pack:end;justify-content:flex-end;padding:1rem;border-top:1px solid #e9ecef}.modal-footer>:not(:first-child){margin-left:.25rem}.modal-footer>:not(:last-child){margin-right:.25rem}.modal-scrollbar-measure{position:absolute;top:-9999px;width:50px;height:50px;overflow:scroll}@media (min-width:576px){.modal-dialog{max-width:500px;margin:1.75rem auto}.modal-dialog-centered{min-height:calc(100% - (1.75rem * 2))}.modal-sm{max-width:300px}}@media (min-width:992px){.modal-lg{max-width:800px}}

.btn-success{color:#fff;background-color:#28a745;border-color:#28a745}.btn-success:hover{color:#fff;background-color:#218838;border-color:#1e7e34}.btn-success.focus,.btn-success:focus{box-shadow:0 0 0 .2rem rgba(40,167,69,.5)}.btn-success.disabled,.btn-success:disabled{color:#fff;background-color:#28a745;border-color:#28a745}.btn-success:not(:disabled):not(.disabled).active,.btn-success:not(:disabled):not(.disabled):active,.show>.btn-success.dropdown-toggle{color:#fff;background-color:#1e7e34;border-color:#1c7430}.btn-success:not(:disabled):not(.disabled).active:focus,.btn-success:not(:disabled):not(.disabled):active:focus,.show>.btn-success.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(40,167,69,.5)}

.btn-danger{color:#fff;background-color:#dc3545;border-color:#dc3545}.btn-danger:hover{color:#fff;background-color:#c82333;border-color:#bd2130}.btn-danger.focus,.btn-danger:focus{box-shadow:0 0 0 .2rem rgba(220,53,69,.5)}.btn-danger.disabled,.btn-danger:disabled{color:#fff;background-color:#dc3545;border-color:#dc3545}.btn-danger:not(:disabled):not(.disabled).active,.btn-danger:not(:disabled):not(.disabled):active,.show>.btn-danger.dropdown-toggle{color:#fff;background-color:#bd2130;border-color:#b21f2d}.btn-danger:not(:disabled):not(.disabled).active:focus,.btn-danger:not(:disabled):not(.disabled):active:focus,.show>.btn-danger.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(220,53,69,.5)}

.btn-primary{color:#fff;background-color:#007bff;border-color:#007bff}.btn-primary:hover{color:#fff;background-color:#0069d9;border-color:#0062cc}.btn-primary.focus,.btn-primary:focus{box-shadow:0 0 0 .2rem rgba(0,123,255,.5)}.btn-primary.disabled,.btn-primary:disabled{color:#fff;background-color:#007bff;border-color:#007bff}.btn-primary:not(:disabled):not(.disabled).active,.btn-primary:not(:disabled):not(.disabled):active,.show>.btn-primary.dropdown-toggle{color:#fff;background-color:#0062cc;border-color:#005cbf}.btn-primary:not(:disabled):not(.disabled).active:focus,.btn-primary:not(:disabled):not(.disabled):active:focus,.show>.btn-primary.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(0,123,255,.5)}

.btn-block{display:block;width:100%}.btn-block+.btn-block{margin-top:.5rem}input[type=button].btn-block,input[type=reset].btn-block,input[type=submit].btn-block{width:100%}

.loader_bg {
    position: fixed;
    z-index: 999999;
    background: #E8D8B6;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.loader{
    border: 0 soild transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
}
.loader:before, .loader:after{
    content: '';
    border: 1em solid #223892;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;
}
.loader:before{
    animation-delay: .5s;
}
@keyframes loader{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }
}




*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
}
.wrapper{
    width: 1170px;
    margin: 0 auto;
}
header{
    height: 100px;
    background: #262626;
    width: 100%;
    z-index: 10;
    position: fixed;
}
.logo {
    width: 30%;
    float: left;
    line-height: 100px;
}
.logo a {
    text-decoration: none;
    font-size: 30px;
    font-family: bignoodletitling;
    color: #fff;
    letter-spacing: 5px;
}
nav {
    float: right;
    line-height: 100px;
}
nav a {
    text-decoration: none;
    font-family: bignoodletitling;
    letter-spacing: 4px;
    font-size: 20px;
    margin: 0 10px;
    color: #fff;
}
.banner-area{
    width: 100%;
    height: 500px;
    position: fixed;
    top: 100px;
    background-image: url(2.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}
.banner-area h2 {
    padding-top: 8%;
    font-size: 70px;
    font-family: poppins;
    text-transform: uppercase;
    color: #fff;
}
.content-area{
    width: 100%;
    position: relative;
    top: 450px;
    background: #ebebeb;
    height: 1500px;
}
.content-area h2 {
    font-family: bignoodletitling;
    letter-spacing: 4px;
    padding-top: 30px;
    font-size: 40px;
    margin: 0;
}

.content-area p {
    padding: 2% 0px;
    font-family: merienda;
    line-height: 30px;
}